<!DOCTYPE html>
<html>
<head>
	<title>Movie Flix</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link href="https://fonts.googleapis.com/css?family=Allerta+Stencil" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="responsive.css">
</head>
<body style="overflow-y: hidden;"> <!-- overflow hidden required only for this page -->
<script type="text/javascript" src="images.js"></script>
	<div id="container3">
	</div> <!-- div to display random poster in background -->
		
	<div class="container2">
		<div id="landing-img">
			<img src="http://i.imgur.com/s3OXU03.png" > <!-- main image logo -->
			<br />
			<button class="enter-here bounce" onclick="location.href = 'login.html';"><img src="images/login.png"></button> <!-- button to redirect to login page -->
		</div>
	</div>

</body>
</html>